/* -------- Muller -------- */
@font-face {
  font-family: "MullerRegular";
  src: local("MullerRegular");
  src: url("../fonts/MullerRegular/MullerRegular.eot") format("eot");
  src: url("../fonts/MullerRegular/MullerRegular.ttf") format("ttf");
  src: url("../fonts/MullerRegular/MullerRegular.woff2") format("woff2"); }

@font-face {
  font-family: "MullerBold";
  src: local("MullerBold");
  src: url("../fonts/MullerBold/MullerBold.eot") format("eot");
  src: url("../fonts/MullerBold/MullerBold.ttf") format("ttf");
  src: url("../fonts/MullerBold/MullerBold.woff2") format("woff2"); }

@font-face {
  font-family: "MullerHeavy";
  src: local("MullerHeavy");
  src: url("../fonts/MullerHeavy/MullerHeavy.eot") format("eot");
  src: url("../fonts/MullerHeavy/MullerHeavy.ttf") format("ttf");
  src: url("../fonts/MullerHeavy/MullerHeavy.woff2") format("woff2"); }

/* -------- Evolventa -------- */
@font-face {
  font-family: "EvolventaRegular";
  src: local("Evolventa");
  src: url("../fonts/EvolventaRegular/Evolventa-Regular.eot") format("eot");
  src: url("../fonts/EvolventaRegular/Evolventa-Regular.ttf") format("ttf");
  src: url("../fonts/EvolventaRegular/Evolventa-Regular.woff2") format("woff2"); }

@font-face {
  font-family: "EvolventaBold";
  src: local("Evolventa");
  src: url("../fonts/EvolventaBold/Evolventa-Bold.eot") format("eot");
  src: url("../fonts/EvolventaBold/Evolventa-Bold.ttf") format("ttf");
  src: url("../fonts/EvolventaBold/Evolventa-Bold.woff2") format("woff2"); }

/********** Specifications START **********/
body {
  margin: 0;
  font-family: "EvolventaRegular";
  overflow-x: hidden; }

p {
  margin: 0; }

.title {
  font-family: "MullerBold";
  color: #000;
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 500; }

.min-title {
  font-family: "EvolventaBold";
  color: #3f3f3f;
  font-size: 2em;
  text-transform: uppercase;
  padding-top: 3em;
  margin-bottom: 0.3em;
  margin-top: 0;
  font-weight: 500; }

.container {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em; }

.relative {
  position: relative; }

.bg-orange {
  background-color: #f4b91b; }

.gray-section {
  background-color: #f3f3f3; }

/********** Specifications END **********/
/********** Header START **********/
.header {
  background-image: url("../images/header-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding-top: 2em; }
  .header .header-content {
    position: relative;
    z-index: 1;
    padding-bottom: 14em; }
  .header .header-wrap {
    z-index: 1;
    position: relative; }
  .header .title {
    margin-top: 2em;
    color: #fff;
    width: 17em;
    line-height: 1.9em; }
  .header .mhv {
    font-family: "MullerHeavy";
    font-size: 1.3em;
    background-image: -moz-linear-gradient(90deg, #c69a53 0%, #dcc43e 100%);
    background-image: -webkit-linear-gradient(90deg, #c69a53 0%, #dcc43e 100%);
    background-image: -ms-linear-gradient(90deg, #c69a53 0%, #dcc43e 100%);
    padding: 0.1em;
    color: #000; }
  .header .header-list {
    padding-left: 0; }
    .header .header-list li {
      color: #fff;
      text-transform: uppercase;
      font-size: 1.2em;
      color: #fff;
      line-height: 2em;
      position: relative;
      list-style-type: none;
      padding-left: 1em; }
      .header .header-list li span {
        content: '';
        display: block;
        background-color: #f4b91b;
        width: 0.5em;
        height: 0.5em;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%); }
    .header .header-list .circle {
      color: #fff; }
  .header .header-button {
    background-color: #fff;
    box-shadow: 3.914px 5.803px 3.48px 0.52px rgba(255, 255, 255, 0.07);
    display: block;
    font-family: "MullerBold";
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    max-width: 19em;
    text-align: center;
    padding: 1.3em 0;
    border-radius: 0.8em;
    color: #4e4e4e;
    letter-spacing: 0.1em;
    margin-top: 3em;
    position: relative;
    overflow: hidden;
    transition: 0.5s ease;
    z-index: 1; }
    .header .header-button:hover {
      color: #fff;
      box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
      animation: pulse 1s; }
      .header .header-button:hover .overlay {
        width: 100%; }
    .header .header-button .overlay {
      transition: 0.5s ease;
      display: block;
      background-color: #f4b91b;
      position: absolute;
      width: 0;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: 0 auto;
      z-index: -1; }
  .header .header-left {
    width: 50%; }
  .header .header-right {
    position: absolute;
    right: 0;
    top: -3em;
    width: 50%; }
    .header .header-right .girl img {
      width: 100%; }
  .header .mouse {
    position: absolute;
    bottom: 9em;
    left: 53%;
    z-index: 1; }
    .header .mouse img {
      width: 4em; }

@keyframes pulse {
  from {
    box-shadow: 0 0 0 rgba(255, 255, 255, 0); }
  to {
    box-shadow: 0 0 0 rgba(255, 255, 255, 0); } }

.header-overlay {
  content: '';
  display: block;
  background-image: url("../images/header-overlay.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.menu-static {
  position: absolute;
  bottom: -10em;
  width: 100%; }
  .menu-static ul {
    padding: 0;
    display: flex;
    justify-content: space-between; }
    .menu-static ul li {
      list-style-type: none; }
      .menu-static ul li a {
        text-transform: uppercase;
        color: #fff;
        font-size: 1.1em;
        font-family: "MullerRegular";
        text-decoration: none;
        display: block;
        position: relative;
        letter-spacing: 0.2em; }
        .menu-static ul li a:hover::after {
          width: 100%; }
        .menu-static ul li a::after {
          content: '';
          display: block;
          transition: 0.5s ease;
          width: 0;
          height: 0.1em;
          position: absolute;
          background-color: #000;
          bottom: -0.3em;
          left: 0;
          right: 0;
          margin: 0 auto; }

/********** Header END **********/
/********** Features START **********/
.features {
  padding-bottom: 5em; }
  .features .features-title {
    margin-bottom: 3em; }
    .features .features-title p {
      font-size: 1.3em;
      color: #3f3f3f; }
  .features .features-content__wrap {
    border: 1px solid #e4e4e4;
    padding: 5em 2em; }
    .features .features-content__wrap .features-content {
      display: flex;
      justify-content: space-between;
      margin-top: 7em; }
      .features .features-content__wrap .features-content:first-child {
        margin-top: 0; }
      .features .features-content__wrap .features-content .features-content__left {
        width: 60%; }
      .features .features-content__wrap .features-content .features-content__right {
        width: 40%;
        top: 4em;
        height: 18em; }
    .features .features-content__wrap .features__content-title {
      display: flex;
      align-items: center; }
      .features .features-content__wrap .features__content-title .num {
        color: #f4b91b;
        font-family: "EvolventaBold";
        font-size: 6em; }
      .features .features-content__wrap .features__content-title h3 {
        font-size: 1.5em;
        font-weight: 400;
        line-height: 1.8em; }
    .features .features-content__wrap .features__content-list {
      display: flex; }
      .features .features-content__wrap .features__content-list ul li {
        color: #000;
        list-style-type: none;
        position: relative;
        padding-left: 1em;
        text-decoration: none;
        text-transform: lowercase;
        line-height: 2em;
        font-size: 1.1em; }
      .features .features-content__wrap .features__content-list ul .rectangle {
        width: 0.5em;
        height: 0.5em;
        background-color: #f4b91b;
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%); }
    .features .features-content__wrap .features__content-button {
      display: block;
      background-color: #b6b6b6;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      width: 12em;
      padding: 1em 0;
      border-radius: 2em;
      margin-left: 3em;
      margin-top: 1em;
      position: relative;
      overflow: hidden;
      z-index: 1; }
      .features .features-content__wrap .features__content-button:hover .features__content-button-overlay {
        width: 100%; }
      .features .features-content__wrap .features__content-button .features__content-button-overlay {
        transition: 0.5s ease-in-out;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 0;
        height: 100%;
        margin: 0 auto;
        background-color: #f4b91b;
        z-index: -1; }
  .features .features__landing .features-content__right {
    position: relative; }
  .features .features__landing .carousel {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center; }
  .features .features__landing .carousel-arrow__wrap {
    position: absolute;
    right: 1em;
    bottom: 1em;
    padding: 0;
    display: flex;
    align-items: center;
    z-index: 1; }
    .features .features__landing .carousel-arrow__wrap img {
      width: 1.2em; }
    .features .features__landing .carousel-arrow__wrap li {
      list-style-type: none;
      color: #fff; }
    .features .features__landing .carousel-arrow__wrap .carousel-dots {
      padding: 0;
      counter-reset: slides-num;
      position: relative;
      width: 3em;
      margin-top: -0.2em;
      color: #fff; }
      .features .features__landing .carousel-arrow__wrap .carousel-dots::after {
        content: counter(slides-num);
        margin-left: 1em;
        font-family: "MullerBold";
        font-size: 0.8em; }
      .features .features__landing .carousel-arrow__wrap .carousel-dots .owl-dot {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        counter-increment: slides-num;
        background: none;
        border: none;
        color: #fff;
        display: inline-block; }
      .features .features__landing .carousel-arrow__wrap .carousel-dots span {
        display: none; }
      .features .features__landing .carousel-arrow__wrap .carousel-dots .active::before {
        content: counter(slides-num) "/";
        margin-left: -1em;
        font-family: "MullerBold";
        font-size: 0.8em; }
  .features .features__landing .owl-carousel .owl-item img {
    width: auto;
    height: 24em;
    margin: 0 auto; }

/********** Features END **********/
